 
<hr>

<div class="row">
	<div class="col-md-6">
		<%= image_tag "profile2.jpg", width: 200, alt: "profile image" %>
	</div>

<div class="col-md-6">
	<p>I have been fortunate enough to have worked in a variety of industries, attacking every dream I've had since I was young. My professional work journey began slightly earlier than most; since age fifteen I've had the pleasure of working as a plus-size mens clothing distributor , a bondsman, and even a corporate account manager for the nation's leading poultry producers. I've also traded options professionally for the CME for years, followed by investor relations at the Latigo Group here in Los Angeles. You are meeting me when I've culminated all my experiences and education for my true purpose, coding. In addition, I have received an award for literary accomplishments from BYU, and an award in overall academic achievement from the Association of North American Scholars.  Click on my blog or portfolio to learn more details!
	</p>

	<p>
		<button
		          class="btn btn-primary"
		          type="button"
		          data-toggle="collapse"
		          data-target="#jobHistory"
		          aria-expanded="false"
		          aria-controler="jobHistory"
		        >
		          Job History
		</button>
	</p>

	<p>
		<div class="collapse" id="jobHistory">
				<div class="card card-block">
					School of Hardknocks		
		</div>
	  </div>
	 </div>
   </div>
  </p>
</div>


