
<hr>

<div class="row">
	<div class="col-md-6">
		<%= image_tag "profile2.jpg", width: 200, alt: "profile image" %>
	</div>

<div class="col-md-6">
	<p>My name is Brandon Nouhavandi. With a whopping 4 months under my belt I like to think of myself as the best, like Bruce Lee, Michael Jordan;highly skilled in fucking shit up. If you need someone to handle all of your coding dreams, contact someone else. If you're looking for the hardest working bloke west of the fucking Missippi, you can find my contact information above.</p>

	<p>
		<button
		          class="btn btn-primary"
		          type="button"
		          data-toggle="collapse"
		          data-target="#jobHistory"
		          aria-expanded="false"
		          aria-controler="jobHistory"
		        >
		          Job History
		</button>
	</p>

	<p>
		<div class="collapse" id="jobHistory">
				<div class="card card-block">
					School of Hardknocks		
		</div>
	  </div>
	 </div>
   </div>
  </p>
</div>


