<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-6">
		<%= image_tag "profile.jpg", width: 200, alt: "profile image" %>
	</div>

<div class="col-md-6">
	<p>My name is Brandon Nouhavandi. With a whopping 4 months under my belt I like to think of myself as the best. I'm highly skilled in fucking shit up and if you need someone to handle biz , go to my contact page and holler.</p>
</div>

