<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>11749 Bellagio Rd.</p>
    <p> Los Angeles,California 90049</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "3104014495" %></p>

    <h3>Email</h3>

    <p><a href="mailto:brandonnouhavandi@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>

  </div>


  <div class="row">
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13218.468332416067!2d-118.47888699284343!3d34.07932896228675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bcc46a32ed11%3A0x74cb8cd8ece422f1!2s11749%20Bellagio%20Rd%2C%20Los%20Angeles%2C%20CA%2090049!5e0!3m2!1sen!2sus!4v1586908447965!5m2!1sen!2sus" width="250" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</div>




