<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>10790 Wilshire Blvd. Suite#304 Los Angeles,California 90024</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "3104014495" %></p>

    <h3>Email</h3>

    <p><a href="mailto:brandonnouhavandi@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>

  </div>


  <div class="row">
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13221.55714212543!2d-118.44801969285675!3d34.059533766525874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bb80046b0fa7%3A0xd7033971fb92b8b7!2s10790%20Wilshire%20Blvd%2C%20Los%20Angeles%2C%20CA%2090024!5e0!3m2!1sen!2sus!4v1585258655979!5m2!1sen!2sus" width="250" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</div>