<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  
  <p class="lead">As a software developer, I'm passionate about creating beautiful and well crafted applications. I enjoy being challenged and engaging with projects that require me to learn new languages and development techniques; continuously striving to ensure that each stage of the process is fully communicated and well delivered.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div> 
